<p id="notice"><%= notice %></p>

<div class="float-container">
  <div class="float-child">
    <div class="store-list">
      <h3>Book Store List</h3>
      <table class="table table-striped table-hover align-middle">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%= turbo_frame_tag :stores do %>
            <%= render @stores %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="float-child">
    <div class="new-store">
      <h3>Create New Store</h3>
      <br>
      <br>
      <%= turbo_stream_from :stores %>
      <%= turbo_frame_tag :store_form do %>
        <%= render 'stores/form', store: @store %>
      <% end %>
    </div>
  </div>
</div>
