<%= turbo_frame_tag dom_id(book) do %>
    <tr>
        <td><%= link_to book.name, book, class: "list" %></td>
        <td><%= book.stock %></td>
        <td><%= book.status %></td>
        <td><%= book.store.name %></td>
        <td><%= link_to 'Edit', edit_book_path(book), class:"btn btn-warning" %></td>
        <td><%= link_to 'Delete', book, method: :delete, class:"btn btn-danger" %></td>
    </tr>
<% end %>